* {
margin:0;
font-family: 'Andada Pro', serif;
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
}
header{

    background-color: rgb(242, 242, 242);
    height:60px;
    display: flex;
    justify-content: start;
    align-items: center;
    /* border: 2px red solid; */
}
#navBar{
    display: flex;
    justify-content: start;
    height:fit-content;
}
#activeGroup{
   border-bottom: 5px rgb(81, 159, 254) solid;
   /* padding-top: 20px; */
    height:35px;
    background-color: rgb(216, 216, 216);
    /* -webkit-box-sizing: border-box; */
}
#groups{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px red solid; */
    list-style: none;
    margin:0 0 0 0;
    padding: 0 0px 0 0px;
    width: 310px;
}
#groups li{
    /* border: 2px red solid; */
    padding:10px 18px 10px 18px;
    font-weight: 500;
    font-size: 25px;
    
    /* border-bottom: 5px rgb(81, 159, 254) solid; */
}
#todo{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px 0 15px;
    /* border: 2px red solid; */
    border-bottom: 5px rgb(81, 159, 254) solid;
    font-weight:500;
    font-size:25px;
    /* margin: 0 10px 0 10px; */
    background-color: rgb(220, 220, 220);
    height:55px;
    /* padding:30px 30px 30px 30px; */
}
#grade{
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size:25px;
    /* border: 2px red solid; */
    padding:0 20px 0 20px;
   

}
#borgor{
    width:45px;
    filter:grayscale(100%);
    /* -webkit-filter: grayscale(100%); */
    filter: contrast(.002%);
    margin:5px 5px 5px 5px;
    padding:0 8px 0 8px;
    
}

#tasksContainer {
    display: flex;
    /* width:30vw; */
    justify-content: center;
    /* border:2px red solid; */
}


.task{

    display:flex;
    justify-content: space-between;
    background-color: rgb(235, 235, 235);
    margin: 3vh 0 3vh 0 ;
    height: 7vh;
    width: 12cm;
    padding: 7px;
    border-radius: 19px;
}
#para{
    /* border:2px red solid; */
    font-size:25px;
    display: flex;
    justify-content: start;
    align-items: center;
    width:380px;
    overflow: hidden;
    white-space: nowrap;
}
.checkBox {
    height:60px;
    width:30px;
    /* border-radius; */
}

.extraInfo {
    /* background-color: rgb(206, 204, 204); */
    border: 2px red solid;
}
.extraInfo{
    width:12cm ;
}
/* .title {
  
} */
.para{
    background-color: rgb(222, 222, 222);
    width: 12cm;
}