* {
margin:0;
}

#navBar{
    background-color: grey;
    height:7vh;

}

#tasksContainer {
    display: flex;
    /* width:30vw; */
    justify-content: center;
    border:2px red solid;
}


.task{
    display:flex;
    justify-content: space-between;
    background-color: rgb(205, 205, 205);
    margin: 3vh;
    height: 7vh;
    width: 12cm;
}
.checkBox {
    height:60px;
    width:30px;
    /* border-radius; */
}